@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Pacifico&family=Roboto&display=swap");
/* font-family: 'Pacifico', cursive; */
.todo {
  font-family: "Pacifico", cursive !important;
}
/* body {
  color: #fff !important;
  background-color: rgb(24, 24, 24) !important;
} */
